@import url('inglês__corpo.css');
@import url('inglês__rodapé.css');
*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-image: linear-gradient(#F60926, #FFFFFF);
    padding-bottom: 10vw;
}
.cabeçalho__título{
    font-size: 2em;
    padding: 3vh 0.5vw 0 1vw;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .cabeçalho{
        padding-bottom: 5vw;
        background-image: linear-gradient(#FF0000, #0047FF, #FFFFFF);
    }
    .cabeçalho__título{
        padding-top: 5vh;
        font-size: 3.5em;
        color: #FFFFFF;
    }
} 