.corpo{
    background-image: url('/index__img/imagem_fundo_inglês1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.corpo__texto{
    color: #FF1E1E;
    text-align: center;
    justify-content: center;
    margin-right: 1.2vw;
    padding-top: 6vh;
    text-shadow: 2px 3px 1px black;
    font-size: 1.5em;
    padding-bottom: 8vh;
} 

.corpo__texto2{
    display:none;
}

.corpo2{
    background-image: url('/index__img/imagem_fundo_inglês2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.corpo2__lista{
    align-items: center;
    padding-top: 2.5em;
    padding-bottom: 2em;
    text-align: center;
    justify-content: center;
}

.lista__botão{
    display: inline-block;
    padding: 0.5em 0.5em;
}

.botão{
    font-size: 1.5em;
    border: 3px solid;
    border-image: linear-gradient(#FF0000, #FFFFFF, #00BFFF)1;
    width: 45vw;
    background-color: black;
    color: white;
    height: 3em;
    display: block;
    text-decoration-line: underline;
    text-decoration-color:white;
}

.botão:active{
    text-decoration-line: underline;
    text-decoration-color: black;
    color: black;
}

.lista__link{
    text-decoration: none;
}

.botão__inglês-paraná:active{
    background-color: #00FFF0;
}

.botão__classroom:active{
    background-color: #1EFF34;
}

.botão__udemy:active{
    background-color: #000AFF;
}

.botão__gmail:active{
    background-color: red;
}

.botão__extras:active{
    background-image: linear-gradient(#FF8A00, #DBFF00, #FF002E);
}

.botão_página-principal:active{
    background-color: white;
}

@media screen and (min-width: 1024px) {
    .corpo{
        background-image: url('/index__img/imagem_fundo_desktop-inglês1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .corpo__texto{
        display: none;
    }

    .corpo__texto2{
        text-align: center;
        justify-content: center;
        margin-right: 1.2vw;
        padding-top: 6vh;
        text-shadow: 2px 3px 1px black;
        padding-bottom: 8vh;
        display: block;
        padding-top: 25vh;
        padding-bottom: 25vh;
        font-size: 2.5em;
        color: #FF0000;
    }

    .corpo2{
        background-image: url('/index__img/imagem_fundo_desktop_inglês2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .corpo2__lista{
        padding: 10vh 0;
    }
}
