.rodapé{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#FFFFFF, #0EF609);
    align-items: center;
    text-align: center;
}

.rodapé__criador{
    padding-top: 6vh;
}


@media screen and (min-width: 1024px) {
    .rodapé__criador{
        color: white;
        font-size: 3em;
        padding: 1em 0;
    }

}