.corpo{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.corpo__texto{
    color: white;
    text-align: center;
    justify-content: center;
    margin-right: 1.2vw;
    padding-top: 4vh;
    text-shadow: 2px 3px 1px #092FF6;
    font-size: 1.5em;
    padding-bottom: 6vh;
}

.corpo__texto2{
    display: none;
}

.corpo2{
    background-image: url('/index__img/imagem_fundo_robótica2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.corpo2__lista{
    align-items: center;
    text-align: justify;
    padding-top: 1em;
    text-align: center;
}

.lista__botão{
    display: inline-block;
    padding: 1em 0.5em;
}

.botão{
    font-size: 1.5em;
    border: 3px solid;
    border-image: linear-gradient(#4169E1, #8A2BE2, #4B0082)1;
    width: 45vw;
    background-color: black;
    color: white;
    height: 3em;
    display: block;
    text-decoration-line: underline;
    text-decoration-color:white;
}

.botão:active{
    text-decoration-line: underline;
    text-decoration-color: black;
    color: black;
}

.lista__link{
    text-decoration: none;
}

.botão__classroom:active{
    background-color: #1EFF34;
}

.botão__arduino-code:active{
    background-color: #AE01FF;
}
.botão__chatGPT:active{
    background-color: #FF09F5;
}
.botão__udemy:active{
    background-color: #040EFF;
}

.botão__mblock:active{
    background-color: #8F00FF;
}

.botão__gmail:active{
    background-color: red;
}

.botão__extras:active{
    background-image: linear-gradient(#FF8A00, #DBFF00, #FF002E);
}

.botão__deep-ai:active{
    background-color: palevioletred;
}
.botão__página-principal:active{
    background-color: white;
}

@media screen and (min-width:1024px) {
    .corpo{
        background-image: url('/index__img/imagem_fundo_desktop_robótica1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .corpo__texto{
        display:none;
    }

    .corpo__texto2{
        display: block;
        text-align: center;
        justify-content: center;
        margin-right: 1.2vw;
        padding-top: 4vh;
        text-shadow: 2px 3px 5px black;
        padding-bottom: 6vh;
        font-size: 2.5em;
        color: white;
    }

    .corpo2{
        background-image: url('/index__img/imagem_fundo_desktop_robótica2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .botão:hover{
        background-color: white;
        color: black;
      }
      .container {
        height: 100%;
        position: relative;
        overflow: hidden;
      }
  
      .spark {
        position: fixed;
        width: 6px;
        height: 6px;
        background-image: linear-gradient(#092FF6, #FFFFFF);
        border-radius: 50%;
        pointer-events: none;
        z-index: 1000;
        opacity: 0;
        animation: sparkle 0.5s linear infinite;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  
      @keyframes sparkle {
        0% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 0;
          transform: scale(3);
        }
      }
}